:root {
    --blue: #219ebc;
    --lightblue: #2FB8DA;
}

html,body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    overflow-y: hidden;
}

main {
    position: relative;
}

header {
    display: flex;
}

header > .svg {
    margin-right: 20px;
    margin-top: 12px;
    width: fit-content;
    height: fit-content;
    position: relative;
}

header > .svg::before {
    display: block;
    position: absolute;
    left: -4px;
    top: -5px;
    content: "";
    z-index: -1;
    width: 26px;
    height: 26px;

    border-radius: 50%;

    transition: background-color 100ms;
}

header > .svg:hover::before {
    background-color: var(--lightblue);
}

main > * {
    position: absolute;
    left: 0;
    top: 0;
}

.sidebar {
    z-index: 1;
    background-color: white;
    border-right-color: lightgrey;
    border-bottom-right-radius: 10px;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: lightgrey;
    border-top-style: solid;
    border-top-width: 2px;

    height: 100%;

    transition: translate 100ms;

    width: max-content;
    max-width: fit-content;
    min-width: 15%;
}

.sidebar:not(.open) {
    translate: -100%;
} 

.arrow {
    position: absolute;

    --size: 3em;

    right: calc(-1 * var(--size) - 2 * 2px);
    top: -2px;

    background-color: white;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: lightgrey;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: lightgrey;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;

    width: var(--size);
    height: var(--size);

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow > svg {
    width: 75%;
    height: 75%;

    transition: rotate 100ms;
}

.sidebar.open .arrow > svg {
    rotate: 180deg;
}

/*.arrow::after {
    content: "";
    position: absolute;
  
    background-color: transparent;
    bottom: -52px;
    left: 0;
    height: 50px;
    width: 25px;
    border-top-left-radius: 10px;
    box-shadow: -2px -2px 0 0 lightgrey; 
}*/

.element {
    display: block;

    width: fit-content;
    height: fit-content;

    padding: 25px;

    position: absolute;

    border-radius: 10px;
    border-color: lightgrey;
    border-width: 2px;
    border-style: solid;

    background-color: white;
}

.element > h1 {
    margin: 0;
    font-size: medium;
}

.element > p {
    margin: 0;
    /*color: gray;*/
}

.line::after,
.element::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil' viewBox='0 0 16 16'%3E%3Cpath d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325'/%3E%3C/svg%3E");;
    --size: 2em;

    position: absolute;

    right: calc(var(--size) / -2.5);
    top: calc(var(--size) / -2.5);

    background-color: var(--blue);
    border-width: calc(var(--size) - var(--size) / 1.5);
    border-style: solid;
    border-color: var(--blue);
    border-radius: 50%;
    width: calc(var(--size) / 1.5);
    height: calc(var(--size) / 1.5);
    text-align: center;
    display: flex;
    scale: 0;
    transition: scale 100ms;
}

.element:hover::after {
    scale: 1;
}

.line:hover::after {
    scale: .5;
}

.mainCanvas {
    width: 100vw;
    height: 90vh;
    background-color: gray;

    display: block;
    position: relative;
}

.line {
    display: block;

    width: fit-content;
    height: fit-content;

    padding: 10px;

    position: absolute;

    border-radius: 10px;
    border-color: lightgrey;
    border-width: 2px;
    border-style: solid;

    background-color: white;
}

.mainCanvas > svg {
    left: 0;
    top: 0;
    background-color: white;
    position: absolute;
}

.mainCanvas :not(svg) {
    scale: var(--scale, 1);
}

.dragging {
    opacity: 0.5;
}

.active {
    border-color: var(--blue);
}

.content > * {
    --margin-l: 0.5em;
    --margin-r: 0.5em;
    --margin-t: 0.5em;
    --margin-b: 0.5em;
    width: calc(100% - var(--margin-r) - var(--margin-l));

    margin-left: var(--margin-l);
    margin-right: var(--margin-r);
    margin-top: var(--margin-t);
    margin-bottom: var(--margin-b);
}

.seperator {
    height: 2px;
    width: calc(100%);
    background-color: lightgrey;

    translate: calc(-1 * var(--margin-r)) 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

input,
button,
select {
    border-radius: 5px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
}

button {
    background-color: var(--lightblue);
    border-color: var(--blue);
    padding: 0.5em;
    font-size: large;
}

select {
    background-color: white;
}

button:active {
    background-color: var(--blue);
}

input:disabled {
    border-color: hsl(0, 0%, 95%);
}

.end {
    /*margin-top: auto;*/
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    align-self: flex-end;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pluscontainer {
    position: absolute;

    top: unset;
    left: unset;

    bottom: 1em;
    right: 1em;
}

.plus {
    border-radius: 50%;


    width: 1em;
    height: 1em;

    padding: 1em;
    

    background-color: var(--lightblue);

    text-align: center;
}

.hoverelements {
    display: flex;
    flex-direction: column;

    position: absolute;

    width: 70%;

    left: 10%;
    right: 10%;

    bottom: 3.5em;

    border-radius: 5px;
    border-color: lightgrey;
    border-width: 2px;
    border-style: solid;

    transition: opacity 100ms, bottom 100ms;
}

.hoverelements > * {
    display: flex;
    justify-content: center;

    padding-top: 0.8em;
    padding-bottom: 0.8em;

    margin-top: 0.2em;
    margin-bottom: 0.2em;

    margin-left: 0.2em;
    margin-right: 0.2em;

    border-radius: 2.5px;

    align-self: center;
    width: calc(100% - 0.4em);
}

.hoverelements > *:hover {
    background-color: lightgrey;
}

.pluscontainer:not(:hover) .hoverelements {
    bottom: 0;
    opacity: 0;
}

body.line_connect,
body.delete {
    cursor: crosshair;
}

.custom-slider {
    width: 100%;
}

.custom-slider > input {
    width: calc(100% - 4px - 40px);
    margin-left: 20px;
    margin-top: 10px;

    border-radius: 50px;
}

.custom-slider > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}
.custom-slider > input::-webkit-slider-thumb,
.custom-slider > input::-moz-range-thumb {
    opacity: 1;
    width: 15px;
    height: 15px;
    background-color: var(--lightblue);
    cursor: pointer;

    border-radius: 50px;
}

.custom-slider > input:active::-webkit-slider-thumb,
.custom-slider > input:active::-moz-range-thumb {
    background-color: var(--blue);
}

.custom-slider > .hover {
    width: fit-content;
}

.custom-slider > .hover > * {
    translate: calc(var(--l, 0) - 50% + 30px) 0;
    transform-origin: 50% 50%;
}

.element:not(.hidden) > p {
    color: gray;
}

.hidden {
    color: rgba(0,0,0,0.25) !important;
    border-color: rgba(211, 211, 211, 0.25) !important;
}

.element.hidden > p {
    color: rgba(128,128,128,0.25) !important
}

.a {
    color: lightgray;
    font-weight: lighter;
    font-size: smaller;
}