.element {
    background-color: red;
    display: block;

    width: fit-content;
    height: fit-content;

    padding: 25px;

    position: absolute;
}

.mainCanvas {
    width: 100vw;
    height: 100vh;
    background-color: gray;

    display: block;
    position: relative;
}

.line {
    background-color: yellow;
    width: fit-content;
    height: fit-content;
    position: absolute;
}

.mainCanvas > svg {
    left: 0;
    top: 0;
    background-color: white;
    position: absolute;
}

.dragging {
    background-color: green;
}